<nav class="navbar navbar-dark">
    <a  href="/" class="navbar-brand mb-0 h1">ShareArticles</a>
    <div class="links d-flex">
      
        <a href="/articles" class="btn mr-3 article-btn">
          Articles
        </a>
        
      
      <div class="items-login">
        <%if(logado == true){%>
          <!-- <a class="user-logado" href="#">
            <img src="/assets/user_icon.svg" alt="icone do usuario">
          </a> -->
          <div class="dropdown mr-3">
            <a  class="dropdown-toggle user-logado"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="/assets/user_icon.svg" alt="icone do usuario">
            </a>
            <div class="dropdown-menu dropdown-menu-right" >
              <a class="dropdown-item" href="/users/profile">Perfi</a>            
              <a class="dropdown-item" href="/users/logout">Logout</a>
            </div>
          </div>
        <%}else{%>
        <a class="btn" href="/users/login">Login</a>
        <a class="btn bckchange" href="/users/register">Register</a> 
        <%}%>
      </div>
    </div>
  </nav>
  