<%- include('./partials/head')%>
<body>
    
    <%- include('./partials/navbar')%>
    <div class="container content-index">
        <div class="img-container">
            <h2>Escreva seus artigos</h2>
            <a class="btn" href="/users/register">Get started</a>
        </div>
        
        
        <div class="about">
            <div class="item-about">
                <div class="image">
                    <img src="/assets/Group 11.svg" alt="">
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus omnis quaerat nulla corrupti 
                    </p>
                </div>
            </div>
            <div class="item-about">
                <div class="image">
                    <img src="/assets/mdi_border_color.svg" alt="">
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam neque maiores voluptate quidem quas! 
                    </p>
                </div>
            </div>
            <div class="item-about">
                <div class="image"> 
                    <img src="/assets/Group 12.svg" alt="">
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem praesentium fuga, quo magni 
                    </p>
                    
                </div>
            </div>
        </div>
        
        
    </div>
    
</body>
    <%- include('./partials/footer')%>